.channel__list {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  height: 100vh;
  background-color: blueviolet;
}

.channel__list__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  color: white;
  font-family: "Tuffy-Bold";

  border-bottom: 3px solid purple;
}
.selected_channel {
  color: #fff;
  font-size: larger;
  border-top:#fff 1px dotted ;
  padding-bottom: 10px;
  cursor: pointer;
}
.normal {
  color: #000;
  padding-bottom: 10px;
  cursor: pointer;
}
.channel__list__bottom {
  padding-left: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}
